<style>
  footer {
    font-size: 15px;
    border: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
</style>
<footer>
  <div>フッター</div>
  <div><span class="pageNumber"></span>/<span class="totalPages"></span></div>
</footer>
