<style>
  header {
    font-size: 15px;
    border: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
</style>
<header>
  <div>ヘッター</div>
  <div><span class="date"></span></div>
</header>
